/* You can add global styles to this file, and also import other style files */

.body-backgound{
    background: linear-gradient(-45deg, #00ad91, #005780,#a700ad , #4908fd);
    background-size: 400% 2000%;
    animation: gradient 20s ease infinite;
    overflow-x:hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.loader-md {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .form-control-feedback {
    font-size: 75%;
    font-weight:bold;
    color: rgb(233, 0, 0)
}