<div class="cointainer">
 <div class="row">
   <div class="col-md-12 mt-5">

    <div class="text-center text-white" *ngIf="videoUrlvalidate.errors?.pattern && videoUrlvalidate.touched"><i class="fa fa-exclamation"></i> Invalid URL</div>
    <div class="text-center text-white" *ngIf="videoUrlvalidate.errors?.required && videoUrlvalidate.touched"><i class="fa fa-exclamation"></i> Provide Youtube URL</div>
    <div class="text-center text-white" *ngIf=(getMetadataFailed)><i class="fa fa-exclamation"></i> Failed to parse video</div>

    <form #urlForm="ngForm" class="form-inline justify-content-center" (ngSubmit)="getMetadata()" >
      <input class="form-control mr-sm-2 w-50" type="text" name="videoUrl" placeholder="Provide your URL" [(ngModel)]="videoUrl"  #videoUrlvalidate='ngModel' pattern="^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$" required >
        <button class="btn my-2 my-sm-0" type="submit" [ngClass]="(videoUrlvalidate.errors?.pattern && videoUrlvalidate.touched) ? 'btn-danger': 'btn-success'" [disabled]="videoUrlvalidate.errors?.pattern && videoUrlvalidate.touched" >Parse Video</button>
    </form>
  </div>
 </div>

<div *ngIf="videoMetadata" @fade>  
  <div class="row">
    <div class="col-md-12 justify-content-center form-inline">
        <div class="p-1 btn-group btn-group-toggle" data-toggle="buttons" *ngFor="let item of MediaTypes">
          <label class="btn form-inline" [ngClass]="selectedMediaType==item ? 'btn-success' : 'btn-secondary' "><input type="radio" [(ngModel)]="selectedMediaType" name="mediaType" value="{{item}}" required>{{item}}</label>
        </div>
    </div>
  </div>


 <div class="row"> 
  <div class="col-md-12 justify-content-center d-flex align-items-center">
    <img src="{{videoMetadata.thumbnails.mediumResUrl}}" class="img-fluid rounded" style="height: 70%;">
  </div>
 </div>
 
 <div class="row">
  <div class="col-md-12 justify-content-center d-flex align-items-center">
    <p class="lead font-weight-bold text-white">{{videoMetadata.title}}</p>
  </div>
</div>

<div class="row" @translateRight *ngIf="selectedMediaType=='Mp3'">
  <div class="col-md-12">
    <div class="w-100 d-flex justify-content-center">
    
    </div>
  </div>
</div>

 <div class="row">
  <div class="col-md-12 form-inline justify-content-center">
    <div class="animated bounceIn" *ngIf="selectedMediaType=='Mp4'">
    <form #videoForm='ngForm' (ngSubmit)="downloadVideo()">
     <div class="p-1 btn-group btn-group-toggle" data-toggle="buttons" *ngFor="let item of videoMetadata.qualities">
     <label class="btn form-inline" [ngClass]="selectedQuality==item ? 'btn-success' : 'btn-secondary' "><input type="radio" [(ngModel)]="selectedQuality" name="quality" value="{{item}}" required>{{item}}</label>
     </div>
     <div class="w-100 d-flex justify-content-center">
     <button @fadeFast *ngIf="selectedQuality " class="btn btn-info my-2 my-ms-0" type="submit">Download !</button>
     </div>
    </form>
  </div>
  <div class="animated bounceIn" *ngIf="selectedMediaType=='Mp3'">
    <form #audioForm='ngForm' (ngSubmit)="downloadAudio()">
      <button class="btn btn-info my-2 my-ms-0" type="submit">Download !</button>
    </form>
  </div>
   </div>   
  </div>
 </div>

 
 <div class="row">
   <div class="col-md-12 d-flex justify-content-center">
     <div *ngIf="status">
     <div [ngSwitch]="status">
       <div @fade *ngSwitchCase="'DownloadingToTheServer'">Downloading to the server</div>
       <div @fade *ngSwitchCase="'DownloadingFromServer'">Your video is prepared to download</div>
       <div @fade *ngSwitchCase="'DownloadingComplete'">Downloading completed !</div>
       <div @fade *ngSwitchCase="'DownloadingError'">Downloading error</div>
     </div>
    </div>
   </div>
 </div>
</div>