<div class="cointainer">
 <div class="row">
   <div class="col-md-12 mt-5">
    <form #urlForm="ngForm" class="form-inline justify-content-center" (ngSubmit)="getMetadata()" >
        <input class="form-control mr-sm-2 w-50" type="text" name="videoUrl" placeholder="Provide your URL" [(ngModel)]="videoUrl" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Parse Video</button>
    </form>
  </div>
 </div>


<div *ngIf="videoMetadata">
 <div class="row">
  <div class="col-md-12 justify-content-center d-flex align-items-center">
    <img src="{{videoMetadata.thumbnails.mediumResUrl}}" class="img-fluid" style="height: 70%;">
    <p class="lead font-weight-bold">{{videoMetadata.title}}</p>
  </div>
 </div>

 <div class="row">
  <div class="col-md-12">
    <form #videoForm='ngForm' class="justify-content-center form-inline" (ngSubmit)="downloadFile()">
     <div class="form-check p-3" *ngFor="let item of videoMetadata.qualities">
     <label class="radio-inline"><input type="radio" [(ngModel)]="selectedQuality" name="quality" value="{{item}}" required>{{item}}</label>
     </div>
     <div class="w-100 d-flex justify-content-center">
     <button *ngIf="selectedQuality" class="btn btn-outline-info my-2 my-ms-0" type="submit">Download video</button>
     </div>
    </form>
   </div>   
  </div>
 </div>
</div>